.hamburger {
  $size: 30px;
  $line-height: 1px;
  $top-bottom-margin: 8px;
  $line-color: $orange;
  $line-open-color: $orange;

  $space: ($size - ($top-bottom-margin * 2) - ($line-height * 3)) / 2;

  height: $size;
  width: $size;
  border: 0;
  position: relative;
  cursor: pointer;
  background: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: $line-height;
    background: $line-color;
    left: 0;
    transition: 0.3s;
  }

  &::before {
    top: $top-bottom-margin;
    width: 75%;
  }

  &::after {
    top: $top-bottom-margin + $line-height + $space;
    box-shadow: 0 $space + $line-height $line-color;
  }

  &.open::after,
  &.open::before {
    top: $top-bottom-margin + $line-height + $space;
    box-shadow: none;
    width: 100%;
    background: $line-open-color;
  }

  &.open::after {
    transform: rotate(135deg);
  }

  &.open::before {
    transform: rotate(-135deg);
  }
}
