.popup {
  position: fixed;
  z-index: 1500;
  width: 1200px;
  max-width: 90%;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  display: none;

  &__close {
    position: absolute;
    right: 0;
    top: -30px;
    cursor: pointer;
  }

  &__image {
    max-width: 100%;
  }
}
