.range {
  font-size: 1.4rem;
  font-weight: 500;

  label {
    margin-bottom: 1.8rem;
    display: block;
    text-align: left;
    font-size: 1.4rem;
    font-weight: 300;
    color: $black;
  }

  &__bar {
    margin: 0 8px;
    background-color: $gray !important;
    border-radius: 0 !important;
    border: none !important;
    height: 4px !important;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background: $gray;
      top: 0;
      left: -8px;
      right: -8px;
      height: 100%;
    }

    & > div {
      background-color: $orange !important;
      border-radius: 0 !important;
    }

    & > span {
      background-color: $orange !important;
      border: none !important;
      height: 16px !important;
      width: 16px !important;
      top: -6px !important;
      margin-left: -8px !important;
      border-radius: 50%;
    }
  }

  &__captions {
    margin-top: 1.9rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    font-weight: 500;
    color: $orange;
  }
}
