.filtr {
  $root: &;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: gutter(6);
  row-gap: gutter(3.2);
  width: 100%;
  padding-bottom: gutter(6.2);

  @include mediaTo(md) {
    grid-template-columns: 1fr 1fr;
  }

  @include mediaTo(sm) {
    grid-template-columns: 1fr;
  }

  &__label {
    color: color(primary);
    font-weight: 600;
    margin-bottom: gutter(1.6);
    -webkit-appearance: none !important;
    width: 100%;
    display: block;
    min-width: unset;

    &--special {
      color: color(special);
    }

    &--switcher {
      margin-bottom: 0;
      //#C0C0C0
      color: lighten(color(greey), 10%);
      width: auto;
      transition: $transition;
    }

    &--sort {
      width: auto;
      margin-bottom: 0;
    }

    &.-is-active {
      color: color(special);
    }
  }

  &__input-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: gutter(1.6);
  }

  &__input {
    display: block;
    padding: gutter(1.4) gutter(0.5) gutter(1.4) gutter(1.6);
    color: color(greey);
    border: 1px solid lighten(color(greey), 8.5%);
    width: 100%;
    max-width: unset;
    min-width: unset;
    transition: $transition;

    &--checkbox {
      @extend %absolute;

      right: unset;
      display: block;
      width: gutter(2.4);
      height: gutter(2.4);
      padding: 0;
      margin: auto;
      box-shadow: inset 0 0 0 gutter(0.5) color(light);
      pointer-events: none;
    }

    &--sort {
      padding-right: gutter(2);
      display: inline-block;
      margin-left: gutter(1.6);
      background: transparent;
      width: gutter(20);
    }

    &:focus {
      outline-color: color(special);
      color: color(special);
      border-color: color(special);
    }
  }

  &__checkbox {
    @extend %absolute;

    right: unset;
    opacity: 0;

    &:checked {
      & + #{$root}__input {
        &--checkbox {
          outline-color: color(special);
          color: color(special);
          border-color: color(special);
          background-color: color(special);
        }
      }
    }
  }

  &__checkbox-wrapper {
    position: relative;

    #{$root}__label {
      margin-bottom: 0;
      padding-left: gutter(4);
      white-space: nowrap;
    }
  }

  &__switcher {
    position: relative;
    width: gutter(7);
    height: gutter(3.5);
    margin: 0 gutter(1.6);
    border-radius: gutter(1.7);
    border: 1px solid color(special);
    background-color: transparent;
    cursor: pointer;
    outline: 0;

    &::before {
      content: "";
      position: absolute;
      border-radius: 100%;
      left: gutter(0.8);
      top: 0;
      bottom: 0;
      margin: auto;
      width: gutter(1.9);
      height: gutter(1.9);
      background-color: color(special);
      box-shadow: 0 gutter(0.4) gutter(0.5) 0 rgba(14, 35, 68, 0.1);
      transition: $transition;
    }
  }
}

.-is-switched {
  .filtr__label {
    &.-is-active {
      color: lighten(color(greey), 10%);
    }
  }

  .filtr__switcher {
    & + .filtr__label {
      color: color("special");
    }

    &::before {
      left: calc(100% - #{gutter(1.9) + gutter(0.8)});
    }
  }
}
