.icons {
  $root: &;

  @include cssLock("width", 360, 1440, (10, 30));
  @include cssLock("height", 360, 1440, (10, 30));

  display: block;
  border-radius: 100%;
  background: color("light");
  position: relative;
  transition: $transition;
  cursor: pointer;
  border: none;

  &__arrow-down {
    &::before {
      content: "";
      width: 30%;
      height: 30%;
      position: absolute;
      border: 2px solid color("primary");
      border-left: 0;
      border-top: 0;
      top: 0;
      left: 0;
      bottom: 15%;
      right: 0;
      margin: auto;
      transition: $transition;
      transform: rotate(45deg);
    }
  }

  &.-is-active {
    &::before {
      width: 30%;
      height: 30%;
      position: absolute;
      border: 2px solid color("secondary");
      border-left: 0;
      border-top: 0;
      margin: auto;
      transform: rotate(130deg);
    }
  }
}
