* {
  outline: none;
}

html {
  font-size: 62.5%;

  @media (max-width: 1199px) {
    font-size: 60%;
  }

  @media (max-width: 991px) {
    font-size: 57.5%;
  }

  @media (max-width: 767px) {
    font-size: 55%;
  }

  @media (max-width: 575px) {
    font-size: 52.5%;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
figure {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

b {
  font-weight: 500;
}

img {
  max-width: 100%;
  display: block;
}
