.icon {
  background-color: lighten(color(greey), 32%);

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: gutter(3);

    @include mediaTo(xs) {
      grid-template-columns: 1fr;
    }
  }

  &__element {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__imgwrap {
    @include cssLock("height", 360, 1920, (30, 80));
    @include cssLock("width", 360, 1920, (30, 80));

    margin: 0;
  }

  &__text {
    margin-top: gutter(1.8);
    text-align: center;
    font-weight: 500;
    color: color(primary);
  }

  &__image {
    @extend %image;

    object-fit: contain;
  }
}
