.invest-map {
  &__nav {
    @include cssLock("padding-bottom", 360, 1920, (gutter_num(3), gutter_num(6)));
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;

    @include mediaTo(xs) {
      flex-direction: column;
    }
  }

  &__elem {
    @include mediaTo(xs) {
      margin-bottom: gutter(1.6);
    }
  }

  &__wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: gutter(6);

    @include media(md) {
      min-height: 60vh;
      grid-template-columns: 4fr 8fr;
    }
  }

  &__map {
    position: sticky !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;

    @include mediaTo(md) {
      display: none;
    }
  }
}
