.invest-slider {
  $root: &;

  height: calc(60vh + 10vw + #{gutter(6.4)});
  position: relative;

  @for $i from 1 to 4 {
    &[data-invest-slider="#{$i}"] {
      #{$root}__wrapper {
        &:nth-child(#{$i}) {
          opacity: 1;
          pointer-events: initial;
        }
      }
    }
  }

  @include mediaTo(md) {
    height: 60vh;
    margin-top: gutter(2.4);
  }

  .container {
    position: relative;
    height: 100%;
  }

  &__wrapper {
    @extend %absolute;
    @extend .fadeIn;

    height: calc(60vh + 10vw + #{gutter(6.4)});
    opacity: 0;
    transition: $transition;
    animation-duration: $transition;
    pointer-events: none;

    @include mediaTo(md) {
      height: 60vh;
    }
  }

  &__carousel {
    @extend %absolute;

    width: 100%;
    height: 60vh;
    bottom: unset;
    z-index: 10;
  }

  &__cell {
    @extend %overlay;
    @extend %overlay--gradient;

    width: 100%;
    height: 100%;
    position: relative;
  }

  &__image {
    @extend %absolute;
    @extend %image;

    &--nav {
      @extend %absolute;
      @extend %image;
    }
  }

  .flickity-button {
    background: rgba(color(dark), 0.5) !important;
    border-radius: 0;
    outline: 0 !important;
    width: gutter(7);
    height: gutter(7);
    transition: $transition;

    svg {
      left: 40%;
      top: 40%;
      width: 25%;
      height: 25%;
    }

    &:hover {
      background: color(special) !important;

      svg {
        fill: color(light);
      }
    }
  }

  .flickity-prev-next-button.previous {
    left: 0;
  }

  .flickity-prev-next-button.next {
    right: 0;
  }

  &__nav-carousel {
    @extend %absolute;

    bottom: unset;
    top: calc(60vh + #{gutter(3.2)});
    height: 10vw;

    .flickity-prev-next-button.previous {
      left: -270px;
    }

    .flickity-prev-next-button.next {
      right: -270px;
    }

    @include mediaTo(md) {
      display: none;
    }
  }

  &__nav-cell {
    width: calc(100% / 3 - #{gutter(3)});
    height: 100%;
    position: relative;
    margin: 0 gutter(3);
  }

  .flickity-slider {
    width: 100%;
  }

  .flickity-viewport {
    width: 100%;
    height: 100% !important;
  }
}
