.text-slide {
  $root: &;

  &__title {
    @include cssLock(
      "margin-bottom",
      360,
      1920,
      (gutter_num(3), gutter_num(6))
    );

    color: color(primary);
    font-weight: 400;
  }

  &__2col {
    display: grid;
    gap: gutter(6);
    grid-template-columns: repeat(2, 1fr);

    @include mediaTo(lg) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__label {
    font-weight: 600;
    color: color(primary);
    display: block;

    @include cssLock(
      "margin-bottom",
      360,
      1920,
      (gutter_num(1), gutter_num(1.6))
    );
  }

  &__dsc {
    color: color(greey);
    font-weight: 300;
    line-height: initial;
  }

  &__hidedtext {
    color: color(greey);
    font-weight: 300;
    line-height: initial;
    opacity: 0;
  }

  &.-is-active {
    #{$root}__hidedtext {
      opacity: 1;
      background-color: red;
    }
  }
}
