.invests-list {
  padding: 0;
  margin: 0;
  list-style: none;
  transition: $transition;

  &.-is-hidden {
    opacity: 0;
  }

  @include mediaTo(md) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: gutter(2.4);
  }

  @include mediaTo(sm) {
    display: grid;
    grid-template-columns: 1fr;
  }

  &__elem {
    box-shadow: 0 15px 50px 0 rgba(14, 35, 68, 0.15);
    margin-bottom: gutter(2.4);

    &.-is-active {
      .button {
        @extend .button;
      }
    }

    &.-is-hidden {
      display: none;
    }
  }

  &__img {
    height: auto !important;
  }

  &__content {
    padding: gutter(1.6) gutter(2.4);
  }

  &__title {
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    color: color(primary);
  }

  &__address {
    color: color(greey);
  }

  &__footer {
    margin-top: gutter(2.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    color: color(special);
    font-weight: 600;

    &--message {
      display: flex;
      align-items: center;

      svg {
        margin-right: gutter(1);
      }
    }
  }
}
