.advanced-search {
  padding: 7.3rem 0 10rem;

  h3 {
    font-size: 2.4rem;
  }

  p {
    margin-bottom: 6.8rem;
    font-size: 2rem;
    font-weight: 300;
  }

  &__filters {
    margin-bottom: 8rem;
  }

  .range {
    margin-bottom: 3rem;
  }
}
