.boxes {
  $root: &;

  &__box {
    padding: 9.7rem 0;
    text-align: center;
    color: $white;

    @media (max-width: 991px) {
      padding: 5.7rem 0;
    }

    img {
      display: inline-block;
      margin-bottom: 4.3rem;
    }

    p {
      font-size: 2rem;
      font-weight: 300;
      line-height: 2.4rem;
    }

    &--gray {
      background: $gray;
    }

    &--orange {
      background: $orange;
    }

    &--blue {
      background: $blue;
    }
  }

  &--custom {
    margin-bottom: 11rem;

    #{$root}__title {
      font-size: 2.4rem;
    }

    #{$root}__box {
      display: block;
      border: 6px solid $blue;
    }

    img {
      margin-bottom: 0;
      height: 100px;
    }
  }
}
