.flat-table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  color: $black;

  tbody {
    background-image: linear-gradient(lighten($gray, 30%) 50%, lighten($gray, 25%) 50%);
    background-size: 100% 14.6rem;
  }

  th {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 1rem;
  }

  td {
    font-size: 1.3rem;
    font-weight: 500;
    white-space: nowrap;
    padding: 1.6rem 1rem;

    button {
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
    }

    img {
      height: 100%;
      display: inline-block;
    }
  }

  .price--old {
    color: $gray;
  }

  .price--old + .price {
    color: #f22;
  }

  .star {
    filter: grayscale(1);
    transition: 0.3s;

    &.active {
      filter: none;
    }

    &.disabled {
      cursor: not-allowed;
    }
  }

  @media (max-width: 767px) {
    display: block;

    thead {
      display: none;
    }

    tbody,
    tr,
    td {
      display: block;
    }

    tbody {
      background: none;
    }

    tr {
      background: lighten($gray, 25%);
      margin-bottom: 2rem;
    }

    td {
      position: relative;
      padding-left: 50%;

      &:not(:last-of-type) {
        border-bottom: 1px solid $gray;
      }

      &::before {
        content: attr(data-label) ":";
        position: absolute;
        width: 50%;
        left: 0;
        padding: 0 1rem;
        top: 50%;
        transform: translateY(-50%);
        text-transform: uppercase;
      }
    }

    .state__box {
      display: inline-block;
    }
  }
}

.state {
  &__box {
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: $white;
    padding: 1.4rem;
    display: block;

    &--free {
      background: #00b734;
    }

    &--reservation {
      background-color: #b2b2b2;
    }

    &--sold {
      background: #f22;
    }

    &--sale {
      background-color: #ec9000;
    }
  }

  &--free {
    color: #00b734;
  }

  &--reservation {
    color: #b2b2b2;
  }

  &--sold {
    color: #f22;
  }

  &--sale {
    color: #ec9000;
  }
}
