.half-section {
  margin-top: 11rem;
  margin-bottom: 11rem;

  @media (max-width: 991px) {
    margin-top: 7rem;
    margin-bottom: 7rem;
  }

  &--revert .row {
    flex-direction: row-reverse;
  }

  @media (min-width: 992px) {
    &--revert &__content {
      padding-left: 11rem;
    }

    &:not(&--revert) &__content {
      padding-right: 11rem;
    }
  }

  &__content {
    padding-bottom: 11rem;

    @media (max-width: 991px) {
      padding-bottom: 5rem;
    }

    @media (min-width: 992px) {
      padding-top: 11rem;
    }
  }

  p {
    font-weight: 300;
    line-height: 2.4rem;

    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }
  }

  .btn {
    margin-top: 3rem;
  }

  img {
    position: absolute;
    height: 100%;
    width: calc(100% - 30px);
    object-fit: cover;

    @media (max-width: 991px) {
      position: relative;
      width: 100%;
    }
  }
}
